.vignette {
  > h1, > h2, > p {
    margin-left: 20px;
    margin-right: 20px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 13.5px;
  }
  margin-bottom: @line-height-computed * 2;

  .video-play {
    text-align: center;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
    max-width: 150px;

    .video-thumb {
      padding: 0;
    }

    a {
      line-height: 18px;
    }
  }

  .then-now {
    position: relative;

    .then-now-images > * {
      position: absolute;
      right: 0;
      top: 0;
    }

    .btn-group {
      position: absolute;
      left: 8px;
      top: 8px;

      button {
        color: white;
        background: black;
        background: @photo-overlay-bg;
        font-family: @font-family-sans-serif;

        z-index: 10000;

        &.btn-then,
        &.btn-now {
          i:after {
            .fa-icon();
            content: @fa-var-circle-o;
          }

          &.active {
            i:after {
              content: @fa-var-dot-circle-o;
            }
          }
        }
      }
    }

  }
}

.vex {
  .vignette {
    > h1, > h2, > p {
      margin-left: 40px;
      margin-right: 65px;
    }

    .video-play {
      margin-right: 65px;
      min-width: 225px;
      max-width: none;
    }
  }
}
