.vignette {
  h1, h2, p {
    margin-left: 20px;
    margin-right: 20px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 13.5px;
  }
  margin-bottom: @line-height-computed * 2;
}

.vex {
  .vignette {
    h1, h2, p {
      margin-left: 40px;
      margin-right: 65px;
    }
  }
}
